*.fbxgit filter=lfs diff=lfs merge=lfs -text
*.pnggit filter=lfs diff=lfs merge=lfs -text
*.psdgit filter=lfs diff=lfs merge=lfs -text
*.wavgit filter=lfs diff=lfs merge=lfs -text
*.animgit filter=lfs diff=lfs merge=lfs -text
track filter=lfs diff=lfs merge=lfs -text
*.jpggit filter=lfs diff=lfs merge=lfs -text
*.prefabgit filter=lfs diff=lfs merge=lfs -text
*.assetgit filter=lfs diff=lfs merge=lfs -text
*.otf filter=lfs diff=lfs merge=lfs -text
*.mp3git filter=lfs diff=lfs merge=lfs -text
*.matgit filter=lfs diff=lfs merge=lfs -text
*.unitygit filter=lfs diff=lfs merge=lfs -text
*.controllergit filter=lfs diff=lfs merge=lfs -text
*.ttfgit filter=lfs diff=lfs merge=lfs -text
lfs filter=lfs diff=lfs merge=lfs -text
*.tgagit filter=lfs diff=lfs merge=lfs -text
*.ogggit filter=lfs diff=lfs merge=lfs -text
*.shadergit filter=lfs diff=lfs merge=lfs -text
*.otfgit filter=lfs diff=lfs merge=lfs -text
*.apk filter=lfs diff=lfs merge=lfs -text
*.anim filter=lfs diff=lfs merge=lfs -text
